# disallow everything by default
*
# disallow unnecessary files recursively
**/.DS_Store11
# allow important files
!.gitignore
!README.md
# allow config files/folders
!kitty/
!hypr/
!waybar/
!wofi/
!swaync/
!fastfetch/

!fastfetch/**
!swaync/**
!kitty/**
!hypr/**
!wofi/**
!waybar/**
