@import "../../.cache/wal/colors-waybar.css";

*{
  color: @foreground;
  background-color: alpha(@background, 0.0);
  outline: none;
  transition: all 0.5s;
}

.notification-row {
  outline: none;
  margin-left: -12px;
  margin-right: -12px;
  background-color: alpha(@background, 0);
  border-radius: 15px;
}

.notification-row:focus,
.notification-row:hover {
  outline: none;
  background-color: alpha(@background, 0);
}

.notification {
  border-radius: 15px;
  box-shadow: none;
  padding: 0px;
  border-color: @color10;
}

/* Uncomment to enable specific urgency colors */
/* .low {
  background: yellow;
}
.normal {
  background: green;
} */

*/.critical {
  border: 1px solid @noti-urgent;
}*/

.notification-content {
  background: transparent;
  padding: 0px;
  border-radius: 8px;
}

.notification-group.collapsed:hover .notification{
	background-color: alpha(@color13, 0.4);
}

.notification-group.collapsed .notification{
        background-color: alpha(@background, 0.4);
}

.close-button {
  background: @background;
  color: @foreground;
  text-shadow: none;
  padding: 0;
  border-radius: 100%;
  margin-top: 10px;
  margin-right: 16px;
  box-shadow: none;
  border: none;
  min-width: 24px;
  min-height: 24px;
}

.close-button:hover {
  box-shadow: none;
  background: alpha(@color12, 0.3);
  transition: all 0.15s ease-in-out;
  border: none;
}

.notification-default-action,
.notification-action {
  padding: 0px;
  margin: 0;
  box-shadow: none;
  background: alpha(@background, 0.8);
  transition: all 0.5s ease-out;
  color: @foreground;
  border-radius: 15px;
}

.notification-default-action:hover,
.notification-action:hover {
  -gtk-icon-effect: none;
  background-color: alpha(@color13, 0.4);
}

.notification-default-action {
  border-radius: 8px;
}

.notification-action {
  border-radius: 8px;
}

.image {}

.body-image {
  margin-top: 6px;
  background-color: @foreground;
  border-radius: 8px;
}

.summary {
  font-size: 16px;
  background: transparent;
  color: @foreground;
  text-shadow: none;
  margin-top: 0px;
  margin-left: 3px;
}

.time {
  font-size: 13px;
  font-weight: bold;
  background: transparent;
  color: @foreground;
  text-shadow: none;
  margin-right: 18px;
}

.notification-background{
  background-color: transparent;
}

.body {
  font-size: 15px;
  font-weight: normal;
  background: transparent;
  color: @foreground;
  text-shadow: none;
  margin-top: 0px;
  margin-left: 3px;
}

/* The "Notifications" and "Do Not Disturb" text widget */
.top-action-title {
  color: @foreground;
  text-shadow: none;
}

.control-center {
  background-color: alpha(@background,0.6);
  border-radius: 0px 0px 15px 15px;
}

.control-center-list {
  background: transparent;
}

.floating-notifications {
  background: transparent;
}

/* Window behind control center and on all other monitors */
.blank-window {
  background: transparent;
}

/*** Widgets ***/

/* Title widget */
.widget-title {
  margin: 8px;
  font-size: 16px;
}

.widget-title>button {
  font-size: initial;
  color: @background;
  text-shadow: none;
  background: alpha(@color10, 0.8);
  box-shadow: none;
  border-radius: 15px;
}

.widget-title>button:hover {
  background: @color13;
}

/* DND widget */
.widget-dnd {
  margin: 8px;
  font-size: 1.1rem;
}

.widget-dnd>switch {
  font-size: initial;
  border-radius: 15px;
  background: @color10;
  box-shadow: none;
  transition: all 0.25s;
}

.widget-dnd>switch:checked {
  background: @color13;
}

.widget-dnd>switch slider {
  background: @noti-bg-hover;
  border-radius: 15px;
}

/* Label widget */
.widget-label {
  margin: 4px 8px 8px;
}

.widget-label>label {
  font-size: 16px;
}

/* Mpris widget */
.widget-mpris {
}

.widget-mpris-player {
  padding: 0px;
  margin: 8px;
  border-radius: 15px;
  background-color: alpha(@background, 0.5);
}

.widget-mpris-title {
  font-weight: bold;
  padding: 8px;
  border-radius: 20px;
  background-color: alpha(@background, 0.5);
  font-size: 1.25rem;
}

.widget-mpris-subtitle {
  padding: 8px;
  border-radius: 15px;
  background-color: alpha(@background, 0.5);
  font-size: 1.1rem;
}

/* Volume and Brightness Widget*/

.widget-volume {
  background-color: @noti-bg;
  padding: 4px 4px 4px 20px;
  margin: 0px 8px 8px 8px;
  border-radius: 4px;
  font-size: 14px;
}

.widget-backlight {
  background-color: @noti-bg;
  padding: 8px 8px 4px 8px;
  margin: 8px 8px 0px 8px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.KB {
  padding: 4px 8px 4px 8px;
  margin: 0px 8px 0px 8px;
  border-radius: 0;
}

.widget-menubar>box{
  padding: 8px 0px 4px;
  margin: 0px 8px;
  border-radius: 4px 4px 0px 0px;
  background-color: transparent;
}

.widget-menubar>box>.menu-button-bar>button{
  border: 1px solid @noti-border-color;
  background: @noti-bg;
  border-radius: 4px;
  margin: 4px 12px;
}

.widget-buttons-grid{
  padding: 0px 0px 0px;
  margin: -3px 8px 0px;
  border-radius: 0px 0px 8px 8px;
  background-color: alpha(@color10, 0.0);
  font-size: 14px;
}

.widget-buttons-grid>flowbox>flowboxchild>button{
  background: alpha(@color10, 0.8);
  border-radius: 0px 0px 8px 8px;
  transition: all 0.5s;
}

.widget-buttons-grid>flowbox>flowboxchild>button:hover {
  background: @color13;
}
